.row-1 {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #3f3f3f;

}

.col-2 {
    width: 50%;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

.col-3 {
    width: 33.33%;
    text-align: center;
    color: #FFFFFF;
    background-color: red;

}

.col-4 {
    width: 25%;
    text-align: center;
    color: #fff;
    background-color: #4F4F4F;
}

.col-5 {
    width: 20%;
    text-align: center;
    color: #fff;
    background-color: brown;
}